li {
  list-style: none;
}

nav .navbar-nav li a {
  color: #fff;
}

p {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Crete Round", sans-serif;
}

hr {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

hr:after {
  content: "ยง";
  display: inline-block;
  position: relative;
  top: -0.9em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

.social-icons {
  font-size: 24px;
  padding: 10px;
  color: #dbd8d7;
}

header {
  position: absolute;
  height: 48px;
  overflow: hidden;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

#headline {
  background-image: url("./images/illustration-header-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 650px;
}

#about {
  padding: 120px 24px 200px;
  background-image: url("./images/illustration-about-me-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
}

#about h2 {
  color: #ff6b00;
}

#about p {
  max-width: 327px;
}

#headline h1 {
  color: #ff6b00;
  font-size: 56px;
}

.contact-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 42px;
}

.btn-primary {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  height: 48px;
  padding: 12px;
  letter-spacing: 0.03em;
  border: 1px solid #f55800;
  background: #f55800;
}

.btn-primary:hover {
  color: #f55800;
  border: 1px solid #f55800;
  background: #fff5e1;
}

.btn-primary:active {
  color: #f4f1f0;
  border: 1px solid #e05304;
  background: #e05304;
}

.btn-primary:focus {
  color: #fff;
  background-color: #e05304;
  border-color: #e05304;
  box-shadow: 0 0 0 0.25rem rgb(245, 88, 0 / 50%);
}

.btn-primary:disabled {
  cursor: not-allowed;
  color: #5b5957;
  border: 1px solid #f4f1f0;
  background: #f4f1f0;
}


@media only screen and (min-width: 992px) {
  header {
    position: fixed;
  }

  #headline {
    background-image: url("./images/illustration-header.svg");
  }

  #about {
    background-image: url("./images/illustration-about-me.svg");
  }
}
