p {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Crete Round", sans-serif;
}

li {
  font-family: "Inter", sans-serif;
}

li.competency-title {
  font-family: "InaiMathi", serif;
}

.social-icons {
  font-size: 24px;
  padding: 10px;
  color: #dbd8d7;
}

header {
  height: 48px;
}

#headline {
  background-image: url("./images/illustration-header-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-position: 100% 120%;
  height: 590px;
}

#headline h1 {
  color: #ff6b00;
}

#about {
  background-image: url("./images/illustration-about-me-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
}

#about h2 {
  color: #ff6b00;
}

#about p {
  max-width: 327px;
}

#separator {
  width: 95%;
}

#skills li:first-child {
  font-size: 32px;
}

#skills li:not(:first-child) {
  font-size: 22px;
}

.btn-primary {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  height: 48px;
  padding: 12px;
  letter-spacing: 0.03em;
  border: 1px solid #f55800;
  background: #f55800;
}

.btn-primary:hover {
  color: #f55800;
  border: 1px solid #f55800;
  background: #fff5e1;
}

.btn-primary:active {
  color: #f4f1f0;
  border: 1px solid #e05304;
  background: #e05304;
}

.btn-primary:focus {
  color: #fff;
  background-color: #e05304;
  border-color: #e05304;
  box-shadow: 0 0 0 0.25rem rgb(245, 88, 0 / 50%);
}

.btn-primary:disabled {
  cursor: not-allowed;
  color: #5b5957;
  border: 1px solid #f4f1f0;
  background: #f4f1f0;
}

@media only screen and (min-width: 992px) {
  #headline {
    background-image: url("./images/illustration-header.svg");
    background-position: 100% 50%;
    height: 870px;
  }

  #about {
    background-image: url("./images/illustration-about-me.svg");
  }
}
