li{
    list-style: none;
}

nav .navbar-nav li a{
    color: #fff;
}

.bg-image {
    background-image: url(images/bgmediacss.png);
    min-height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
}

.top-heading {
    color: #ff6b00;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
}

.container {
    padding-top: 8vh;
    padding-bottom: 8vh;
}

.text-dark {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 42px;
}

.btn-primary {
    background-color: #ff6b00 !important;
}

